.blob {
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transition: all 300ms ease-in-out;
}

.fakeblob {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card {
    &:hover > .inner {
        background: rgba(26, 26, 26, 0.6);
        backdrop-filter: blur(80px);
    }
}
