$primaryFont: 'Inter', sans-serif, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, monospace;
$secondaryFont: 'Space Grotesk', monospace;
$black0: #000;
$black1: #131516;
$black2: #212121;
$grey1: #818080;
$grey2: #1c1c1c;
$grey3: #1b1a1a;
$white1: #fff;
$white2: #aaa;
