body {
  background-color: var(--background);
  color: var(--foreground);
}

.white {
  background-color: var(--white);
}

p,
span {
  color: var(--text-regular-nav);
}

input {
  border: 1px solid var(--border-separator);
  color: var(--text-regular-nav);
}

input::placeholder {
  color: var(--text-regular-nav);
}

label {
  color: var(--text-subtitle);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-title);
}
