// Define border styles with their corresponding color variables
$border-styles: (
    regular: var(--border-default),
    outline: var(--border-outline),
    separator: var(--border-separator),
    outline-50: var(--border-outline-50),
);

// Define border positions
$border-positions: left, right, top, bottom;

// Generate border classes for each style and position
@each $style, $color in $border-styles {
    .border-#{$style} {
        border: 1px solid $color;

        @each $position in $border-positions {
            &-#{$position} {
                border: none;
                border-#{$position}: 1px solid $color;
            }
        }
    }
}

// Additional classes for specific border styles
.border-separator {
    border: 1px solid var(--border-separator);
}

.border-top-separator {
    border-top: 1px solid var(--border-separator);
}

.border-outline {
    border: 1px solid var(--border-outline);
}

.border-outline-5 {
    border: 1px solid var(--border-outline-5);
}

.border-outline-10 {
    border: 1px solid var(--border-outline-10);
}

.border-outline-soft {
    border: 1px solid rgba(39, 38, 39, 0.7);
}

.border-top-outline {
    border-top: 1px solid var(--border-outline);
}

.border-bottom-outline {
    border-bottom: 1px solid var(--border-outline);
}

// Example of a custom line element
.line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 20px;
        left: -10%;
        width: calc(100% + 20%);
        height: 1px;
        background-color: var(--border-outline);
    }
}
